[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==8.4.1"
selenium = "==4.34.0"
requests = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.5"
